server:
  port: 8000

eureka:
  instance:
    host: localhost
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.host}:${server.port}/eureka/
