spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: sriram9487tk@gmail.com
    password: waphfxynouudhmhp
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      mail.smtp.ssl.trust: smtp.gmail.com
