services:
  redis:
    image: redis:7-alpine
    container_name: dairy_cache_1
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    ports:
      - "5540:5540"
    depends_on:
      - redis
    volumes:
      - redisinsight_data:/data
    restart: unless-stopped

volumes:
  redisinsight_data:
