services:
  zipkin:
    image: openzipkin/zipkin:latest
    container_name: zipkin
    ports:
      - "9411:9411"
    environment:
      STORAGE_TYPE: mem
      JAVA_OPTS: "-Xms256m -Xmx512m"
    restart: unless-stopped
