services:

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - arch_observ
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - loki
    networks:
      - arch_observ
    restart: always

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    volumes:
      - loki_data:/loki
    ports:
      - "3100:3100"
    networks:
      - arch_observ
    restart: always

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    command: -config.file=/etc/promtail/promtail-config.yml
    volumes:
      - ./promtail/promtail-config.yml:/etc/promtail/promtail-config.yml:ro
      - /home/sriram/git/arch-byte/backend/logs/auth:/var/log/auth:ro
    depends_on:
      - loki
    networks:
      - arch_observ
    restart: always

volumes:
  prometheus_data:
  grafana_data:
  loki_data:

networks:
  arch_observ:
