spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_server
    username: root
    password: 1234

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: false
